<link rel="stylesheet" href="/style.css"/>

<body>

  <form action="/bookmarks/new" method='get'>
    <input type="submit" value="Add Bookmark">
  </form>

  <h1><%=flash[:notice]%></h1>

  <ul>
    <% @bookmarks.each do |link| %>
    <li> <%= link %></li>
    <% end %>
  </ul>

</body>
