<link rel="stylesheet" href="/style.css"/>

<body>

  <form action="/bookmarks/new" method='get'>
    <input type="submit" value="Add Bookmark">
  </form>

  <h1><%=flash[:notice]%></h1>

  <ul>
    <% @bookmarks.each do |bookmark| %>

      <li><a href="<%= bookmark.url %>"><%= bookmark.title %></a></li>

      <li>
        <form action="/bookmarks/delete" method="post">
          <input type="hidden" name="id" value="<%= bookmark.id %>">
          <input type="submit" value="Delete Bookmark">
        </form>
      </li>

    <% end %>


  </ul>

</body>
