<body>
  <ul>
    <% @bookmarks.each do |link| %>
    <li> <%= link %></li>
    <% end %>
  </ul>

  <h1><%=flash[:notice]%></h1>

  <form action="/bookmarks/new" method='get'>
    <input type="submit" value="Add link">
  </form>
</body>
