<form action="/bookmarks" method='post'>
  Bookmark Title:<br>
  <input label="Bookmark Title" type="text" name="title"><br>
  Bookmark URL:<br>
  <input label="Bookmark URL" type="text" name="url"><br>
  <br>
  <input type="submit" value="OK">
</form>
